<div class="auth-page-container d-flex justify-content-center align-items-center">
  <div class="form-content p-5 d-flex flex-column">
    <div class="logo d-flex justify-content-center mb-5">
      <span class="text-center">Book-U</span>
    </div>
    <h4 class="text-center">Sign Up</h4>
    <%= form_with model: @user, html: {multipart: true}, local: true do |form| %>

    <div class="mt-2">
      <div id="profile-image-div" class="profile-pic d-flex justify-content-center align-items-center">
        <label for="user_photo" class="d-flex justify-content-center align-items-center">
          <%= form.file_field :photo, accept: 'image/*', class: 'd-none' %>
          <span id="default" class="d-block"><i class="icon-user"></i></span>
          <img id="profile-image" class="d-none"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWpMt1I4YD-NiUmlnM-PPrUL-6BR84_HTRBw&usqp=CAU"
            alt="image" />
        </label>
      </div>
    </div>

    <div class="field">
      <%= form.text_field :fullname, placeholder: 'Full Name', class: 'pl-3' %>
    </div>

    <div class="field mt-2">
      <%= form.text_field :username, placeholder: 'Username', class: 'pl-3' %>
    </div>

    <div class="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <div class="actions">
      <%= form.submit 'Sign Up', class: 'px-5 py-2 mt-3' %>
    </div>
    <% end %>
    <%= link_to "SIGN IN", sign_in_path, class: 'login-link pt-4' %>
  </div>
</div>

<%= javascript_pack_tag 'sign_up' %>